.title_wrap {
  background-color: transparent;
  margin: 0;
  border-radius: 8px;
}

.title_board {
  margin: 0;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #161616;

  @media screen and (min-width: 768px) {
    height: 28px;
    font-size: 18px;
  }
}

.button_create {
  display: flex;
  /*  margin-top: 40px;*/
  gap: 8px;
  min-width: 300px;
  width: 335px;
  height: 56px;
  align-items: center;
  justify-content: center;
  /* background-color: transparent; */
  /* margin-left: 20px; */
  background-color: var(--back-another-column);
  color: var(--color-font);
  border-radius: 8px;
  border-style: none;
  transition: background-color 250ms linear;
}

.button_create:focus,
.button_create:hover {
  background-color: var(--btn-add);
  color: var(--hover-title-another-column);
}

/* .container {
  display: flex;
  flex-direction: row;
} */

.columns_container {
  display: flex;
  gap: 18px;
  overflow: auto;
  padding-bottom: 24px;
  padding-top: 40px;
  padding-left: 24px;
}
/* styles scroll */
.columns_container::-webkit-scrollbar {
  width: 4px; /* Ширина скроллбару */
}
.columns_container::-webkit-scrollbar-track {
  background: #383737; /* Колір треку фону */
  border-radius: 4px; /* радіус кутів треку */
}
.columns_container::-webkit-scrollbar-thumb {
  background: #161616; /* Колір повзунка */
  border-radius: 4px; /* радіус кутів повзунка */
}
