.container {
  height: 100vh;
}

.button_create {
  display: flex;
  gap: 8px;
  min-width: 300px;
  width: 335px;
  height: 56px;
  align-items: center;
  justify-content: center;
  background-color: var(--back-another-column);
  color: var(--color-font);
  border-radius: 8px;
  border-style: none;
  transition: background-color 250ms linear;
}

.button_create:focus,
.button_create:hover {
  background-color: var(--btn-add);
  color: var(--hover-title-another-column);
}

.button_icon_bg{
  background-color: var(--color-bg-btn);
border: 1px solid var(--color-btn-plus);
}


.button_icon{
  stroke: var(--color-btn-plus);
}


.columns_container {
  display: flex;
  gap: 18px;
  overflow: auto;
  padding-bottom: 24px;
  padding-top: 5px;
  padding-left: 24px;

  max-width: 310px;
  width: 100%;

  overflow-y: hidden; /* вертикал скролл активуемо */
  overflow-x: auto; /* горизонт скролл скриваемо*/
  background-color: inherit;
}

.columns_container::-webkit-scrollbar {
  width: 12px;
}
.columns_container::-webkit-scrollbar-track {
  background: var(--color-scroll-tracker-g);
  border-radius: 12px;
}
.columns_container::-webkit-scrollbar-thumb {
  background: var(--color-scroll-g);
  border-radius: 12px;
}

@media screen and (min-width: 375px) {
  .columns_container {
    max-width: 340px;
  }
}

@media screen and (min-width: 768px) {
  .columns_container {
    max-width: 720px;
  }
  .container {
    height: calc(100vh - 170px);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: calc(-260px + 100vw);
    height: calc(100vh - 110px);
  }

  .columns_container {
    max-width: 1080px;
    padding: 0 0 16px 0;
    margin: 10px 0 0 24px;
  }

  .columns_container::-webkit-scrollbar {
    width: 12px;
  }
}