.title_wrap {
  background-color: transparent;
  margin: 0;
  border-radius: 8px;
}

.title_board {
  margin: 0;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #161616;

  @media screen and (min-width: 768px) {
    height: 28px;
    font-size: 18px;
  }
}
.button_create {
  display: flex;
  margin-top: 40px;
  gap: 8px;
  width: 335px;
  height: 56px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* margin-left: 20px; */
  border-radius: 8px;
  border-style: none;
  transition: background-color 250ms linear;
}

.button_create:hover {
  background-color: #bedbb0;
}
