.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContainer {
  max-width: 335px;
  padding: 24px;
  background: #151515;
}

.textNameModal {
  color: var(--text-white);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.inputMail {
  box-sizing: border-box;
  width: 287px;
  height: 49px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--button-normal);
  padding-inline: 0;
  padding-block: 0;
  background-color: #151515;
  margin-bottom: 14px;
  padding: 0;
  opacity: 0.4;
}

.inputMail:hover,
.inputMail:focus {
  opacity: 1;
}

.inputMail::placeholder {
  color: var(--text-white);
  padding-left: 18px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.textAreaComment {
  box-sizing: border-box;
  resize: none;
  width: 287px;
  height: 120px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--button-normal);
  padding-inline: 0;
  padding-block: 0;
  padding: 0;
  background-color: #151515;
  margin-bottom: 24px;
  opacity: 0.4;
}

.textAreaComment:hover,
.textAreaComment:focus {
  opacity: 1;
}

.textAreaComment::placeholder {
  color: var(--text-white);
  padding-left: 18px;
  padding-top: 14px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.buttonSend {
  width: 287px;
  height: 49px;
  border-radius: 8px;
  background: #bedbb0;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--radio-grey);
}

.buttonSend:hover,
.buttonSend:focus {
  background: var(--button-hover);
}
