.sidebarNewBoard {
  max-height: 242px;
  overflow: auto;
  margin-top: 40px;
  background-color: transparent;
}

.sidebarNewBoard::-webkit-scrollbar {
  width: 0px; 
}
.sidebarNewBoard::-webkit-scrollbar-track {
  background: var(--scroll-track); 
  border-radius: 4px;
}
.sidebarNewBoard::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb); 
  border-radius: 4px; 
}

.sidebarNewBoardNeon {
  margin-top: 4px;
  padding: 20px 20px 20px 14px;
  border-right: 4px solid var(--color-green);
  border-radius: 4px 0px 0px 4px;
  margin-bottom: 40px;
}

.sidebarNewBoardList {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 24px;
}

.sidebarNewBoardList:hover {
  background-color: var(--bg-card);
  border-right: 4px solid var(--border-cart);
  border-radius: 4px 0px 0px 4px;
}

.active {
  background-color: var(--bg-card);
  border-right: 4px solid var(--border-cart);
  border-radius: 4px 0px 0px 4px;
  color: var(--color-fonts);
  stroke: var(--color-item);
}

.sidebarNewBoardSvg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  stroke: var(--color-shadow);
}

.sidebarNewBoardItem {
  font-family: var(--font-medium);
  font-size: 14px;
  letter-spacing: -0.28px;
  margin-right: auto;
  color: var(--color-item);
}
.sidebarNewBoardItem:hover,
.sidebarNewBoardItem:active {
  color: var(--color-fonts);
  stroke: var(--color-item);
}
.sidebarNewBoardItem:not(.active) .sidebarNewBoardButton {
  pointer-events: none;
  opacity: 0.5;
}

.sidebarNewBoardButton {
  height: 16px;
  border: none;
  padding: 0;
  margin-right: 8px;
  background-color: transparent;
}

.sidebarNewBoardButtonCurrent {
  height: 16px;
  border: none;
  padding: 0;
  margin-right: 24px;
  background-color: transparent;
}

.sidebarNewBoardIcon {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke-width: 1.5px;
  /* stroke: var(--color-item); */
}
.sidebarNewBoardIcon:hover {
  filter: drop-shadow(0px 0px 3.7px rgba(0, 255, 0, 0.644));
  stroke: var(--color-item);
}

.sidebarLogout {
  padding: 0 0 24px 24px;
}

.sidebarLogoutButton {
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-icon-dark);
  font-family: var(--font-medium);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.sidebarLogoutIcon {
  stroke: var(--color-green);
}
