.modal {
  position: relative;
  height: 221px;
  max-width: 320px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  background-color: var(--calendar-background-color);
}

.title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--main_text_color);
  margin-bottom: 24px;
}

.input {
  width: 302px;
  height: 49px;
  opacity: 0.4;
  border-radius: 8px;
  padding: 14px 18px;
  margin-bottom: 24px;
  color: var(--color-font);
  background-color: transparent;
  border: 1px solid var(--bg-button-active);
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
}

.input::placeholder {
  color: #161616;
}

.input::placeholder {
  color: #161616;
}

.input:focus {
  outline: none;
  /* box-shadow: 0 4px 16px 0 var(--accent); */
}
@media screen and (min-width: 375px) {
  .modal {
    max-width: 350px;
  }
  .submBtn {
    width: 100%;
  }
  .input {
    width: 100%;
  }
}
/* .button_icon_bg {
  align-items: center;
  background-color: #161616;
  border-radius: 6px;
  display: flex;
  height: 28px;
  justify-content: center;
  padding: 7px;
  width: 28px;
}
.button_icon {
  width: 14px;
  height: 14px;
  stroke: #ffffff;
}

.button_title {
  font-size: 14px;
  font-weight: 500;
  color: #161616;
  margin: 0;
} */

.buttonSbt {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 49px;
  font-weight: 500;
  background-color: var(--bg-button);
  color: var(--color-font);

  cursor: pointer;
  border: none;
  border-radius: 8px;
  outline: none;

  transition: background-color 250ms linear;
}

.buttonSbt:hover {
  background-color: #9dc888;
}
