.popup {
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0 rgba(249, 247, 247, 0.936);
  background-color: var(--bg-color-form-input);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popupButton {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: var(--color-icon-grey);
}

.popupButton:hover {
  color: var(--color-hover-green);
}
.popupButton:hover .popupIcon {
  stroke: var(--color-hover-green);
}

.text {
  text-align: left;
  margin-right: 8px;
}

.popupIcon {
  display: block;
  width: 16px;
  height: 16px;
  stroke: var(--color-icon-grey);
}
