.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 348px;
  }
}

.container_task {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 8px;
  padding: 0 5px 0 0px;
  margin-bottom: 14px;


  /* max-height: 460px; */
  max-height: 100vh;
  /* max-width: 348px; */
  /* width: 100%; */

  width: calc(100% - 8px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: inherit;
}

@media screen and (min-width: 375px) {
  .container_task {
    max-width: 348px;
    gap: 2px;
  }
}

/* styles scroll */
.container_task::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбару */
}
.container_task::-webkit-scrollbar-track {
  background: #383737; /* Колір треку фону */
  border-radius: 4px; /* радіус кутів треку */
}
.container_task::-webkit-scrollbar-thumb {
  background: #161616; /* Колір повзунка */
  border-radius: 4px; /* радіус кутів повзунка */
}

.item_task {
  margin-bottom: 8px;
}

.column_header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 273px;
  background-color: var(--back-another-column);
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 14px;
  font-weight: var(--font-medium);
}

@media screen and (min-width: 375px) {
  .column_header {
    width: 315px;
  }
}

@media screen and (min-width: 768px) {
  .column_header {
    width: 334px;
  }
}

.btn_container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.btn {
  background: inherit;
  border: none;
  padding: 0;
}

.icon_svg {
  width: 18px;
  height: 18px;
  stroke: var(--color-shadow);
  filter: drop-shadow(0px 0px 3.7px rgba(0, 255, 0, 0.434));
}

.button_create {
  display: flex;
  gap: 8px;
  width: 273px;
  height: 56px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-button);
  color: var(--button-color);
  border-radius: 8px;
  border-style: none;
  color: var(--button-color);
  transition: background-color 250ms linear;

}

@media screen and (min-width: 375px) {

.container_task{
  max-width: 347px;
  width: 100%;
}

  .button_create {
    width: 315px;
  }
}

@media screen and (min-width: 768px) {
  .button_create {
    width: 334px;
  }

  .container {
    max-width: 350px;
  }
  .column_header {
    width: 334px;
  }

}
.button_create:hover,
.button_create:focus {
  background-color: var(--bg-button-active);
}
