.container {
  height: 680px;
  max-width: 348px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.container_task {
  flex-direction: column;
  display: flex;
  gap: 8px;
  max-height: 480px;
  max-width: 348px;
  overflow-y: auto; /* вертикал скролл активуемо */
  overflow-x: hidden; /* горизонт скролл скриваемо*/
  background-color: inherit;
}
/* styles scroll */
.container_task::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбару */
}
.container_task::-webkit-scrollbar-track {
  background: #383737; /* Колір треку фону */
  border-radius: 4px; /* радіус кутів треку */
}
.container_task::-webkit-scrollbar-thumb {
  background: #161616; /* Колір повзунка */
  border-radius: 4px; /* радіус кутів повзунка */
}

.item_task {
  margin-right: 4px;
}

.column_header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 334px;
  background-color: var(--back-another-column);
  border-radius: 8px;
  margin-bottom: 10px;
}

.btn_container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.btn {
  background: inherit;
  border: none;
  padding: 0;
}

.icon_svg {
  width: 18px;
  height: 18px;
  stroke: var(--color-shadow);
}

.button_create {
  display: flex;
  margin-top: 16px;
  gap: 8px;
  width: 335px;
  height: 56px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-button);
  /* margin-left: 20px; */

  border-radius: 8px;
  border-style: none;
  transition: background-color 250ms linear;
  
}

.button_create:hover {
  background-color: var(--bg-button-active);
}
