.react-datepicker * {
  font-family: "Poppins", sans-serif;
  background-color: var(--calendar-background-color);
  color: var(--calendar-text-color);
}

.react-datepicker__input-container button {
  margin-bottom: 0;
  opacity: 1;
  border: none;
  background-color: transparent;
  color: var(--calendar-input);
  font-size: 14px;
  font-weight: 500;
  font-family: "PoppinsMedium";
  letter-spacing: -0.02em;
  line-height: 1.5;
  box-shadow: none;
  border-radius: 0;
  padding-left: 0;
}

.react-datepicker__current-month {
  text-align: center;

  font-size: 16px;
  font-weight: 500;

  border-bottom: 1px solid var(--calendar-month);
  padding-bottom: 20px;
}

.react-datepicker__month-container {
  padding: 10px;
  text-align: center;
}

.react-datepicker__day-name {
  font-weight: 500;
  color: var(--calendar-day);
}

.react-datepicker__header {
  border: none;
  margin-bottom: -6px;
}

.react-datepicker__header,
.react-datepicker__month-container,
.react-datepicker {
  border-radius: 8px;
}

.react-datepicker__navigation-icon::before,
.react-datepicker__navigation-icon::after {
  margin-top: 10px;
}

.react-datepicker__navigation-icon::before,
.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
  border-color: var(--calendar-navigation);

  border-radius: 1.5px;

  transition: border-color 500ms ease-in-out;
}
.react-datepicker__day:focus:not(.react-datepicker__day--disabled),
.react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
  outline: none;
  background-color: var(--calendar-day-hover);
  border-radius: 50%;
  color: var(--calendar-active-day);
}

.react-datepicker__day {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
}

.react-datepicker__day--selected {
  background-color: var(--calendar-day-hover);
  color: var(--calendar-active-day);

  border-radius: 50%;
}
.react-datepicker__day--selected:focus,
.react-datepicker__day--selected:hover {
  outline: 1px solid var(--calendar-day-selected);

  border-radius: 50%;

  background-color: var(--calendar-day-selected-background);
}

.react-datepicker__day--disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.react-datepicker-popper {
  position: absolute;
  left: 50% !important;
  top: 47% !important;
  transform: translate(-50%, -50%) !important;
  will-change: transform;
}

.react-datepicker__triangle {
  position: absolute;
  pointer-events: none;
  transform: translateY(-1px);
  left: 30px !important;
  top: 100%;
  fill: var(--calendar-background-color) !important;
  color: var(--calendar-background-color) !important;
}
