.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(21, 21, 21, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayy {

  background-color: rgba(0, 0, 0, 0.5);
}

.box_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
}

@media screen and (min-width: 375px) {
  .box_menu {
    width: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .overlay {
    display: none;
  }
}