.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(21, 21, 21, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  background: #fff;
}
