.authPageContainer {
  width: 335px;
  height: fit-content;
  border-radius: 8px;
  padding: 40px;
  background: #151515;
}

.authLink {
  display: inline;
  color: rgba(255, 255, 255, 0.3);
}
.authLink:active {
  color: white;
}
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  padding: 0;
}

.reactTabsTab {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  padding-right: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.reactTabsTabSelected {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.reactTabsTab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
.activeTab {
  color: #fff;
}
