.userInfoContainer {
  display: flex;
  flex-direction: row;
}
.button_user {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  color: var(--color);
}
.icon_user {
  width: 79px;
  height: 32px;
}
.userName {
  color: var(--color-theme);
  font-size: 14px;
}
.icon_user {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.avatar {
  width: 32px;
  height: 32px;
  background-image: var(--background-image);
  background-size: contain;
  background-repeat: no-repeat;
}

.img_box {
  width: 32px;
  height: 32px;
}
