.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}
.input {
  width: 287px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid var(--color-green);
  box-shadow: 0 4px 16px 0 var(--color-text-grey);
  background: #1f1f1f;
  padding-left: 10px;
  /* color: var(--color); */
  color: #fff;
}

.input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-icon-grey);
}

.inputwithicon {
  position: relative;
}

.btn {
  width: 287px;
  height: 49px;
  border-radius: 8px;
  background: var(--color-green);
  border: none;
  font-family: "PoppinsMedium";
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.02em;
}

.svg_icon {
  width: 18px;
  position: absolute;
  stroke: rgba(255, 255, 255, 0.5);
  right: 18px;
  margin-top: 18px;
  bottom: 0;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .input {
    border: 1px solid var(--color-green);
    border-radius: 8px;
    width: 344px;
    height: 49px;
    box-shadow: 0 4px 16px 0 var(--color-text-grey);
    background: var(--bg-color-form-input);
    /* color: var(--color); */
  }
  .btn {
    border-radius: 8px;
    width: 344px;
    height: 49px;
    background: var(--color-green);
    border: none;
  }
}
