.sidebar {
  /* position: fixed; */
  display: block;
  top: 0;
  right: 0;
  z-index: 1;
  width: 225px;
  height: 100vh;
  background-color: var(--bg-sidebar);
  /* transform: translateX(-100%); */
}

.sidebar.active {
  transform: translateX(0);
}

.sidebarBox {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 0 0 14px;
  margin-bottom: 70px;
}

.sidebarBoxIcon {
  width: 32px;
  height: 32px;
  fill: var(--color-white);
  stroke: var(--bg-color-form-input);
}

.sidebarBoxTitle {
  font-size: 16px;
  font-family: var(--font-semibold);

  letter-spacing: -0.64px;

  color: var(--sb-color-text);
}

.sidebarItem {
  padding-left: 24px;
  margin-bottom: 8px;
}

.sidebarItemTitle {
  stroke: var(--color-shadow);
  font-size: 12px;
  letter-spacing: -0.24px;

  color: var(--color-icon-grey);
}
.sidebarItemNeon {
  font-family: var(--font-regular);
  font-size: 14px;
  letter-spacing: -0.24px;

  color: var(--color-icon-grey);
  margin-left: 8px;
}

.sidebarBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  padding: 14px 0;
  border-top: solid 1.5px var(--bg-color-body);
  border-bottom: solid 1.5px var(--bg-color-body);
}

.sidebarBoardItem {
  font-family: var(--font-medium);
  font-size: 14px;

  letter-spacing: -0.28px;

  margin-right: 77px;
  color: var(--color-font);
}

.sidebarBoardButton {
  display: flex;
  padding: 0;
  border: none;
  background-color: var(--bg-sidebar);
}

.sidebarBoardIcon {
  width: 40px;
  height: 36px;

  fill: var(--bg-button);
  stroke: var(--sb-icon-stroke);
}

.sidebarHelp {
  margin: 0 14px 24px 14px;
  padding: 14px 14px 15px 15px;
  border-radius: 8px;
  background-color: var(--sb-need-help);
}

.sidebarHelpBox {
  margin: 14px 0 19px 0;
}

.sidebarHelpBoxItem {
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: -0.28px;

  color: var(--color-white);
}

.sidebarHelpBoxLink {
  font-family: var(--font-regular);

  color: var(--color-green);
}

.sidebarHelpbutton {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: initial;
  border: none;
}

.sidebarHelpIcon {
  width: 20px;
  height: 20px;
  stroke: var(--color-white);
}

.sidebarHelpNeedHelp {
  font-family: var(--font-medium);
  font-size: 12px;
  letter-spacing: -0.24px;

  color: var(--color-white);
}

.sidebarLogout {
  padding: 0 0 24px 24px;
}

.sidebarLogoutButton {
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-icon-dark);
  font-family: var(--font-medium);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.sidebarLogoutIcon {
  stroke: var(--color-green);
}

@media screen and (min-width: 769px) {
  .sidebar {
    width: 260px;
  }
}
