.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  z-index: 100;
  width: 200px;
  height: 100vh;

  background-color: var(--bg-sidebar);
  padding: 14px 0 24px 14px;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebarBox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 70px;
}

.logo {
  margin-left: 24px;
  width: 32px;
  height: 32px;
  background-image: var(--bg-image-logo);
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebarBoxTitle {
  font-size: 16px;
  font-family: var(--font-semibold);
  letter-spacing: -0.64px;
  color: var(--color-fonts);
}

.sidebarItem {
  margin-bottom: 8px;
}

.sidebarItemTitle {
  font-size: 12px;
  letter-spacing: -0.24px;
  color: var(--color-item);
}
.sidebarBoardSubItem {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-fonts);
  width: 76px;
}
.sidebarItemNeon {
  font-family: var(--font-regular);
  font-size: 14px;
  letter-spacing: -0.24px;

  color: var(--color-icon-grey);
}

.sidebarBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 14px;
  padding: 14px 0;
  border-top: solid 1.5px var(--color-border);
  border-bottom: solid 1.5px var(--color-border);
}

.sidebarBoardItem {
  font-family: var(--font-medium);
  font-size: 14px;
  letter-spacing: -0.28px;
  margin-right: 77px;
  color: var(--color-fonts);
}

.sidebarBoardButton {
  display: flex;
  padding: 0;
  border: none;
  background-color: var(--bg-sidebar);
}

.sidebarBoardIcon {
  width: 40px;
  height: 36px;

  fill: var(--bg-button);
  stroke: var(--sb-icon-stroke);
}

.sidebarHelp {
  margin-top: 40px;
  margin-bottom: 24px;
  margin-right: 14px;
  border-radius: 8px;
  background-color: var(--bg-help);
}
.img_help {
  padding: 14px 0 14px 14px;
}

.sidebarHelpBox {
  margin: 0 14px 18px 15px;
}

.sidebarHelpBoxItem {
  font-family: var(--font-regular);
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--color-fonts);
}

.sidebarHelpBoxLink {
  font-family: var(--font-regular);

  color: var(--color-link);
}

.sidebarHelpbutton {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: initial;
  border: none;
  padding: 0 0 14px 14px;
}

.sidebarHelpIcon {
  width: 20px;
  height: 20px;
  stroke: var(--color-fonts);
}

.sidebarHelpNeedHelp {
  font-family: var(--font-medium);
  font-size: 12px;
  letter-spacing: -0.24px;
  color: var(--color-fonts);
}

.sidebarLogoutButton {
  margin-left: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  color: var(--color-fonts);
  background-color: transparent;
  font-family: var(--font-medium);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.sidebarLogoutIcon {
  stroke: var(--logout-icon);
}

@media screen and (min-width: 375px) {
  .sidebar {
    width: 225px;
  }
}
@media screen and (min-width: 768px) {
  .sidebarItemTitle {
    margin-left: 24px;
  }

  .sidebarBoard {
    margin-right: 24px;
    margin-left: 24px;
  }
  .sidebarHelp {
    margin-right: 24px;
    margin-left: 24px;
  }
  .sidebar {
    width: 260px;
    padding: 24px 0 24px 0;
  }
  .sidebarHelpBoxItem {
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: var(--color-fonts);
  }
  .img_help {
    padding: 20px 0 20px 14px;
  }
  .sidebarHelpBox {
    margin: 0 20px 18px 20px;
  }
}

@media screen and (min-width: 1440px) {
  /* .sidebar {
    position: sticky;
  } */
  .sidebarLogoutButton {
    font-size: 16px;
  }
}
