.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.input {
  width: 287px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid var(--color-green);
  box-shadow: 0 4px 16px 0 var(--color-text-grey);
  background: var(--bg-color-form-input);
  padding-left: 10px;
  color: var(--color);
}

.input::placeholder {
  font-family: var(--font-regular);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-icon-grey);
}
.button {
  width: 287px;
  height: 49px;
  background: var(--color-green);
  border-radius: 8px;
  border: none;
  font-family: "PoppinsMedium";
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.02em;
}

.inputwithicon {
  position: relative;
}
.svg_icon {
  width: 18px;
  position: absolute;
  stroke: rgba(255, 255, 255, 0.5);
  right: 18px;

  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .input {
    border: 1px solid var(--color-green);
    border-radius: 8px;
    width: 344px;
    height: 49px;
    box-shadow: 0 4px 16px 0 var(--color-text-grey);
    background: var(--bg-color-form-input);
    color: var(--color);
  }
  .button {
    border-radius: 8px;
    width: 344px;
    height: 49px;
    background: var(--color-green);
    border: none;
  }
}
