.theme_button {
  background-color: transparent;
  display: flex;
  gap: 4px;
  border: none;
  align-items: center;
  color: var(--color-theme);
  /* position: relative; */
}
.chevron_down {
  width: 16px;
  height: 16px;
  stroke: var(--color-theme);
}
.popover {
  border-radius: 8px;
  border: 1px solid var(--color-theme-shadow);
  position: absolute;
  background-color: var(--bg-theme);
  padding: 18px 44px 18px 18px;
  color: var(--color-theme);
}
