.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 25%,
      #bedbb0 92.19%
    )
    no-repeat;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 473px;
    /* height: 438px; */
    padding: 0;
  }
}
