.close_btn {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 14px;
}

.close_svg {
  width: 18px;
  height: 18px;
  stroke: var(--color);
  transition: stroke 250ms linear;
}
.close_svg:hover {
  stroke: var(--color-theme-active);
}
