body {
  /* background-image: url('./assets/background.png'); */
  background: #f6f6f7;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --text-white: #ffffff;
  --button-normal: #bedbb0;
  --button-hover: #9dc888;
  --theme-white: #fdfdfd;
  --theme-black: #232323;
  --theme-violet: #d6d8ff;
  --back-input: #1f1f1f;
  --violet-button-normal: #7b7ede;
  --violet-button-hover: #5255bc;
  --violet-normal: #b8bcfd;
  --violet-hover: #979cea;
  --radio-grey: #161616;
  --radio-blue: #8fa1d0;
  --radio-red: #e09cb5;
  --radio-gren: #bedbb0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0px 40px 120px;
}
