body {
  /* background-image: url('./assets/background.png'); */
  background: #f6f6f7;
  margin: 0;
  font-family: "PoppinsRegular", "PoppinsMedium", "PoppinsSemibold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

/* Fonts */
@font-face {
  font-family: "PoppinsRegular";
  font-style: normal;
  font-weight: 400;
  src:
    local("PoppinsRegular"),
    url(./fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsMedium";
  font-style: normal;
  font-weight: 500;
  src:
    local("PoppinsMedium"),
    url(./fonts/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsSemibold";
  font-style: normal;
  font-weight: 600;
  src:
    local("PoppinsSemibold"),
    url(./fonts/Poppins-SemiBold.ttf) format("truetype");
}

:root {
  /* Fonts */
  --font-regular: "PoppinsRegular", sans-serif;
  --font-medium: "PoppinsMedium", sans-serif;
  --font-semibold: "PoppinsSemibold", sans-serif;

  /* Dark theme */
  --color-dark: #161616;
  --color-hover-green: #9dc888;
  --color-white: #ffffff;
  --bg-color-form: #151515;
  --bg-color-form-input: #1f1f1f;
  --color-sidebar-border: rgba(255, 255, 255, 0.1);
  --color-form-light: rgba(255, 255, 255, 0.3);
  --color-icon-dark: #121212;
  --color-icon-grey: rgba(255, 255, 255, 0.5);
  --color-icon-light: rgba(255, 255, 255, 0.8);
  --color-bg-light: rgba(255, 255, 255, 0.1);
  --pop-up-bg-color: #151515;
  --secondary-text-color: #ffffff80;

  /* Colors/label */
  --color-blue: #8fa1d0;
  --color-pink: #e09cb5;
  --color-green: #bedbb0;
  --color-light: rgba(22, 22, 22, 0.3);

  /* Light theme */
  --bg-color-light: #f6f6f7;
  --color-text-light: rgba(22, 22, 22, 0.5);
  --color-text-grey: rgba(22, 22, 22, 0.8);
  --color-text-card: rgba(22, 22, 22, 0.7);

  /* Violet theme */
  --color-violet: #5255bc;
  --bg-color-light-violet: #ecedfd;
  --bg-color-need-help: rgba(236, 237, 253, 0.4);
  --color-light-violet: #b8bcfd;

  --color-red: rgba(255, 0, 0, 0.664);
  --color-shadow: rgba(22, 22, 22, 0.08);

  /* Breakpoints */
  --mobile: 320px;
  --mobile-adaptive: 375px;
  --tablet: 768px;
  --desktop: 1440px;
}

html[data-theme="dark"] {
  --color-font: #fff;
  --bg-color-body: #1f1f1f;
  --bg-color: #161616;
  --bg-theme: #151515;
  --color-theme: rgba(255, 255, 255, 0.5);
  --color-theme-active: #bedbb0;
  --color-theme-shadow: #bedbb0;
  --color: #fff;
  --color-shadow: rgba(255, 255, 255, 0.8);
  --color-hr: rgba(255, 255, 255, 0.1);
  --color-radioDescr: rgba(255, 255, 255, 0.5);
  --color-board: rgba(255, 255, 255, 0.5);
  --bg-sidebar: #121212;
  --sb-icon-stroke: #121212;

  /* Pop up */
  --bg-color: #151515;
  --color: #fff;
  --color-placeholder: rgba(255, 255, 255, 0.5);
  --bg-input: #1f1f1f;
  --bg-button: #bedbb0;
  --bg-button-active: #9dc888;
  --button-color-square: #161616;
  --button-plus: #fff;

  /* Icon Avatar Default */
  --background-image1: url(assets/img/userAvatar/user-dark1.png);
  --background-image: url(assets/img/userAvatar/user-dark.png);

  /* Calendar */
  --calendar-background-color: #1f1f1f;
  --calendar-text-color: #fff;
  --calendar-input: #bedbb0;
  --calendar-month: rgba(255, 255, 255, 0.5);
  --calendar-day: rgba(255, 255, 255, 0.5);
  --calendar-navigation: #bedbb0;
  --calendar-day: #fff;
  --calendar-day-hover: #bedbb0;
  --calendar-active-day: #1f1f1f;
  --calendar-day-selected: #fff;
  --calendar-day-selected-background: #bedbb0;

  /*RadioButtons Filter*/
  --datepicker-grey: rgba(255, 255, 255, 0.5);
  --datepicker-grey-lable: rgba(255, 255, 255, 0.3);
  --datepicker-checked: #151512;
  --datepicker-focused: #fff;
}

html[data-theme="light"] {
  --color-font: #161616;
  --bg-color-body: #f6f6f7;
  --bg-color: #ffffff;
  --bg-theme: #fcfcfc;
  --color-theme: #161616;
  --color-theme-active: #bedbb0;
  --color-theme-shadow: #bedbb0;
  --color: #161616;
  --color-shadow: rgba(22, 22, 22, 0.8);
  --color-hr: rgba(22, 22, 22, 0.1);
  --color-radioDescr: rgba(22, 22, 22, 0.5);
  --color-board: rgba(22, 22, 22, 0.7);
  --bg-sidebar: #fff;
  --sb-icon-stroke: #fff;

  /* Pop up */
  --bg-color: #fcfcfc;
  --color: #161616;
  --color-placeholder: rgba(22, 22, 22, 0.5);
  --bg-input: rgba(22, 22, 22, 0.8);
  --bg-button: #bedbb0;
  --bg-button-active: #9dc888;
  --button-color-square: #161616;
  --button-plus: #fff;

  /* Icon Avatar Default */
  --background-image1: url(assets/img/userAvatar/user-light1.png);
  --background-image: url(assets/img/userAvatar/user-light.png);

  /* Calendar */
  --calendar-background-color: #fff;
  --calendar-text-color: #161616;
  --calendar-input: #bedbb0;
  --calendar-month: rgba(22, 22, 22, 0.5);
  --calendar-day: rgba(255, 255, 255, 0.5);
  --calendar-navigation: #bedbb0;
  --calendar-day: #161616;
  --calendar-day-hover: #bedbb0;
  --calendar-active-day: #161616;
  --calendar-day-selected: #161616;
  --calendar-day-selected-background: #bedbb0;

  /*RadioButtons Filter*/
  --datepicker-grey: rgba(22, 22, 22, 0.5);
  --datepicker-grey-lable: rgba(22, 22, 22, 0.3);
  --datepicker-checked: #ffffff;
  --datepicker-focused: #161616;
}

html[data-theme="violet"] {
  --color-font: #161616;
  --bg-color-body: #ecedfd;
  --bg-color: #ffffff;
  --bg-theme: #fcfcfc;
  --color-theme: #161616;
  --color-theme-active: #5255bc;
  --color-theme-shadow: #ecedfd;
  --color: #161616;
  --color-shadow: rgba(22, 22, 22, 0.8);
  --color-hr: rgba(22, 22, 22, 0.1);
  --color-radioDescr: rgba(22, 22, 22, 0.5);
  --color-board: rgba(22, 22, 22, 0.7);
  --bg-sidebar: #5255bc;
  --sb-icon-stroke: #fff;

  /* Pop up */
  --bg-color: #fcfcfc;
  --color: #161616;
  --color-placeholder: rgba(22, 22, 22, 0.5);
  --bg-input: rgba(22, 22, 22, 0.8);
  --bg-button: #7b7ede;
  --bg-button-active: #5255bc;
  --button-color-square: #fff;
  --button-plus: #161616;

  /* Icon Avatar Default */
  --background-image1: url(assets/img/userAvatar/user-violet1.png);
  --background-image: url(assets/img/userAvatar/user-violet.png);

  /* Calendar */
  --calendar-background-color: #fff;
  --calendar-text-color: #161616;
  --calendar-input: #5255bc;
  --calendar-month: rgba(22, 22, 22, 0.5);
  --calendar-day: #fff;
  --calendar-navigation: #5255bc;
  --calendar-day: #161616;
  --calendar-day-hover: #5255bc;
  --calendar-active-day: #fcfcfc;
  --calendar-day-selected: #161616;
  --calendar-day-selected-background: #5255bc;

  /*RadioButtons Filter*/
  --datepicker-grey: rgba(22, 22, 22, 0.5);
  --datepicker-grey-lable: rgba(22, 22, 22, 0.3);
  --datepicker-checked: #ffffff;
  --datepicker-focused: #161616;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
