.container {
  height: 100hv;
}
.sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    align-items: stretch;
  }
  .sidebar {
    display: flex;
    width: 260px;
  }
  .main {
    width: 1180px;
  }
}
