.sidebar {
  display: none;
}
.main {
  display: flex;
}
.screenPage {
  flex: 1;
}

@media screen and (min-width: 1440px) {
  .sidebar {
    display: flex;

    width: 260px;
    height: 100hv;
  }
  .main {
    min-width: 1180px;
  }
}
